:root {
    --main-color: #FFF;
}

* {
    font-size: 12px;
    font-family: Roboto;
}

p {
    font-size: 13px;
    font-weight: 400;
    padding: 1rem;
}

a {
    text-decoration: none;
    transition: background .2s;
}

h1 {
    font-size: 18px;
    font-weight: 500;
}

body {
    min-width: 320px;
    min-height: 480px;
    display: flex;
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
}


header {
    background-color: var(--main-color);
    height: 72px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-content {
    height: 72px;
    display: flex;
    flex-direction: row;
}

.header-logo {
    min-width: 72px;
    min-height: 72px;
    width: 72px;
    height: 72px;
    fill: #EEE;
    margin-left: 2rem;
    display: inline-block;
}

.app-title {
    color: #333;
    line-height: 2rem;
    margin-top: 3rem;
    margin-left: 2rem;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 24px;
}

.header-space {
    margin: auto;
    display: inline-block;
}

.header-line {
    display: block;
    background-color: #EEE;
    height: 1px;
}

.landing-header {
    position: fixed;
}

.header-nav {
    display: none;
    margin-right: 15rem;
}

.header-nav-item {
    color: #333;
    line-height: 2rem;
    padding: 0 1rem;
    padding-top: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 13vw;
    text-align: center;
}

.landing {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    top: 84px;
    justify-content: space-around;
}

.hero {
    padding-left: 3rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 3rem;
}

.hero-title {
    font-size: 18px;
    line-height: 36px;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.hero-text {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 3rem;
    padding: 0;
}

.illustration {
    text-align: center;
    width: 80%;
    padding-left: 3rem;
}

.hero-illo {
    width: 300px;
}

.call-to-action-button {
    padding: 1rem 2rem;
    background-color: #333;
    border: none;
    color: #FFF;
    font-weight: 500;
    font-size: 13px;
    margin-top: 3rem;
    outline: none;
    margin: auto;
    width: 20rem;
    height: 5rem;
}

.call-to-action-button:hover, .call-to-action-button:focus {
    background-color: #000;
}

.window {
    position: absolute;
    width: 100%;
    height: auto;
    top: 96px;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
}

.navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.navbar-item {
    color: #333;
    line-height: 5rem;
    padding: 1.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    text-align: left;
    margin-left: 1rem;
}

.content {
    position: absolute;
    z-index: 0;
}

@media (min-width: 768px) {
    
    .landing {
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-top: 12rem;
    }

    .hero {
        margin-left: 3rem;
    }

    .hero-title {
        font-size: 36px;
        line-height: 72px;
    }
    
    .hero-text {
        font-size: 18px;
        line-height: 36px;
        width: 90%;
    }

    .illustration {
        padding-left: 5rem;
        width: 40%;
    }

    .call-to-action-button {
        margin: 0;
        width: 12rem;
    }

}

/* drawer animation */
@media (max-width: 991px) {
    .navbar {
        right: 0;
        top: 0;
        transform: translateX(80vw);
        width: 80vw;
        transition: transform 500ms;
        background-color: #FFF;
        height: 100%;
    }

    .landing-header {
        transition: transform 500ms;
    }

    .landing {
        transition: transform 500ms;
    }

    .nav-open .landing-header{
        transform: translateX(-60vw);
    }

    .nav-open .navbar {
        transform: translateX(20vw);
    }

    .nav-open .landing {
        transform: translateX(-60vw);
    }
}

.nav-item {
    line-height: 24px;
    padding-left: 1rem;
    display: flex;
    width: 100vw;
    color: #333;
    margin-right: 2rem;
}

.nav-text {
    padding: 0;
    margin-bottom: 1rem;
    font-weight: 500;
}

.nav-button {
    float: right;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
}

.nav-button svg {
    height: 24px;
    width: 24px;
    margin-right: 2rem;
    padding-top: 1.25rem;
    fill: #333;
}

.content {
    width: 100%;
    border-style: none;
}

/* desktop */
@media (min-width: 992px) {
    .header-nav {
        display: flex;
    }

    a:hover, a:focus {
        border-bottom: 2px solid #333;
    }
    
    .nav-button {
        display: none;
    }

    .window {
        display: flex;
        flex-direction: row;
    }

    .navbar {
        display: none;
    }

    .nav-item {
        width: 216px;
        height: 48px;
        line-height: 24px;
        padding-left: 1rem;
        color: #333;
    }

    .content {
        width: auto;
        flex: 1;
        left: 24rem;
        margin-top: 2rem;
        padding-left: 3rem;
    }
}