:root {
    --main-color: #34983C;
}

* {
    font-size: 12px;
    font-family: Roboto;
}

p {
    font-size: 13px;
    font-weight: 400;
    padding: 1rem;
}

a {
    text-decoration: none;
    transition: background .2s;
}

a:hover, a:focus {
    background-color: #DDD
}

h1 {
    font-size: 18px;
    font-weight: 500;
}

body {
    background-color: #EEE;
    min-width: 320px;
    min-height: 480px;
    display: flex;
}

header {
    background-color: var(--main-color);
    height: 72px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-content {
    height: 72px;
}

.header-logo {
    min-width: 72px;
    min-height: 72px;
    width: 72px;
    height: 72px;
    fill: #FFF;
    margin-left: 2rem;
    display: inline-block;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    float: right;
    margin-top: 12px;
    margin-right: 1.5rem;
    padding: 0.5rem;
}

.nav-button svg {
    fill: #FFF;
    width: 36px;
    height: 36px;
    display: inline-block;
}

.header-title {
    display: none;
    color: #FFF;
    line-height: 2rem;
    position: relative;
    bottom: 1.5rem;
    left: 2rem;
}

.app-title {
    display: inline-block;
    color: #FFF;
    line-height: 2rem;
    position: relative;
    bottom: 1.5rem;
    left: 2rem;
}

.header-at {
    display: none;
}

.header-space {
    margin: auto;
    display: inline-block;
}

.header-line {
    display: block;
    background-color: #FFF;
    height: 1rem;
}

.window {
    position: absolute;
    width: 100%;
    height: auto;
    top: 96px;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
}

.navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.content {
    position: absolute;
    z-index: 0;
}

/* drawer animation */
@media (max-width: 991px) {
    .navbar {
        right: 0;
        top: 0;
        transform: translateX(80vw);
        width: 80vw;
        transition: transform 500ms;
        background-color: #EEE;
        height: 100vw;
    }

    .content {
        transition: transform 500ms;
    }

    .nav-open .navbar {
        transform: translateX(20vw);
    }

    .nav-open .content {
        transform: translateX(-60vw);
    }
}

.nav-item {
    line-height: 24px;
    padding-left: 1rem;
    display: flex;
    width: 100vw;
    color: #333;
    margin-right: 2rem;
}

.nav-text {
    padding: 0;
    margin-bottom: 1rem;
    font-weight: 500;
}

.nav-icon {
    height: 18px;
    width: 18px;
    margin-right: 2rem;
    padding-top: 1.25rem;
    fill: #333;
}

.content {
    width: 100%;
    border-style: none;
}

/* tablet */
@media (min-width: 768px) {
    .header-title {
        display: inline-block;
    }

    .app-title {
        display: none;
    }

    .header-at {
        display: inline-block;
        color: #FFF;
        font-size: 18px;
        font-weight: 300;
    }
}

/* desktop */
@media (min-width: 992px) {
    .nav-button {
        display: none;
    }

    .window {
        display: flex;
        flex-direction: row;
    }

    .navbar {
        flex: 216px;
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .nav-item {
        width: 216px;
        height: 48px;
        line-height: 24px;
        padding-left: 1rem;
        color: #333;
    }

    .content {
        width: auto;
        flex: 1;
        left: 24rem;
        margin-top: 2rem;
        padding-left: 3rem;
    }
}